<div class="row no-gutters">
  <div class="col-md-5">
    <div class="card">
      <div class="card-header">
        Sortowanie listy z polskimi znakami
      </div>
      <div class="card-body">
        <form>
          <div class="form-group row">
            <ul class="list-group">
              <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let student of persons">
                {{student.name}} {{student.surname}}
                <span class="badge badge-light badge-pill"> wzrost: {{student.height}}</span>
              </li>
            </ul>
          </div>
        </form>
      </div>
      <div class="card-footer">
        <button class="btn btn-outline-info"
                (click)="sortuj()">Sortuj
        </button>
        <button class="btn btn-outline-info"
                (click)="sortuj1()">Sortuj Alfabetycznie
        </button>
        <button class="btn btn-outline-info"
                (click)="sortujPl()">Sortuj Pl
        </button>
        <button class="btn btn-outline-info"
                (click)="sortuj1Pl()">Sortuj Alfabetycznie Pl
        </button>
      </div>
    </div>
  </div>
</div>
