 <div class="card">
      <div class="card-header">
        Tablica 1D
      </div>
      <div class="card-body">
        <form>
          <div class="form-group row">
            <table class="table-striped">
              <tbody>
              <tr>
                <th *ngFor="let element of array1">{{element}}</th>
              </tr>
              </tbody>
            </table>
          </div>
          <div>
            <label>[{{array1}}]</label>
          </div>
          <div>
            <label>{{array1Dinfo}}</label>
          </div>
        </form>
      </div>
      <div class="card-footer">
        <button class="btn btn-outline-info"
                (click)="originalArray1D()">Oryginalna
        </button>
        <button class="btn btn-outline-info"
                (click)="evenElements()">Parzyste
        </button>
        <button class="btn btn-outline-info"
                (click)="divisibleBy4()">Podzielne przez 4
        </button>
        <button class="btn btn-outline-info"
                (click)="notDivisibleBy4()">Niepodzielne przez 4
        </button>
        <button class="btn btn-outline-info"
                (click)="notDivisibleBy5()">Niepodzielne przez 5
        </button>
      </div>
    </div>
