<div class="row no-gutters">
  <div class="col-md-5">
    <div class="card">
      <div class="card-header">
        Tablica 2D
      </div>
      <div class="card-body">
        <form>
          <div class="form-group row">
            <table class="table-striped">
              <tbody>
                <tr *ngFor="let row of array">
                  <th *ngFor="let element of row">{{element}}</th>
                </tr>
              </tbody>
            </table>
          </div>
        </form>
      </div>
      <div class="card-footer">
        <button class="btn btn-outline-info"
                (click)="originalArray()">Oryginalna
        </button>
        <button class="btn btn-outline-info"
                (click)="evaluateSquares()">Kwadraty
        </button>
      </div>
    </div>
  </div>
</div>
