<div class="row no-gutters">
  <div class="col-md-5">
    <div class="card">
      <div class="card-header">
        Temperatura odczytana z czujników
      </div>
      <div class="card-body">
        <form>
          <div class="form-group row">
            <ul class="list-group">
              <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let data of sensorData">
                Temperatura: {{data.temp}}
                <span class="badge badge-light badge-pill"> {{data.id}}</span>
              </li>
            </ul>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-6" style="width: 60%">
    <canvas baseChart
            [chartType]="'line'" [datasets]="chartDataTemperature"
            [labels]="chartLabel"
            [options]="chartOptions" [legend]="true">

    </canvas>
    <canvas baseChart
            [chartType]="'bar'" [datasets]="chartDataHumidity"
            [labels]="chartLabel"
            [options]="chartOptions" [legend]="true">

    </canvas>
  </div>
</div>
